:root {
    --main-color: #181A20;
    --second-color: #F7931A;
    --third-color: #;
    --text-color: #;
    --secund-text-color: #;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,body {
    overflow-x: hidden;
}
body{
    background-color: var(--main-color);
}
header {
    padding: 30px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100vw;
}

section {
    min-height: calc(100vh - 192px);
    padding: 30px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sides{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.left{
    margin: 0 30px;
}
h1,
h2 {
    color: var(--second-color);
}

h1 {
    font-size: 120px;
    line-height: 55px;
}

h2 {
    font-size: 80px;
}
p{
    font-size: 20px;
}
.moedas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
}
.moeda{
    display: flex;
    align-items: center;
    gap: 15px;
}

.bitcoin {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #000;
    font-size: 120px;
    box-shadow: 0 4px 8px rgba(var(--main-color), var(--main-color), var(--main-color), 0.5);
    perspective: 1000px;
}

.coin {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 5s infinite linear;
    transform-style: preserve-3d;
    position: relative;
    background-image: radial-gradient(circle, var(--second-color) 60%, var(--second-color) 100%);
}

.coin::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    background: var(--second-color);
}

.coin::after {
    content: "₿";
    position: absolute;
    color: #000;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

p, text{
    color: var(--second-color);
}

footer {
    padding: 30px 60px;
    background-color: var(--main-color);
    text-align: center;
}

@media (max-width: 978px) {
    section,footer, header{
        padding: 30px 45px;
    }
    .sides{
        justify-content: center;
        margin: 30px;
    }
    .left{
        text-align: center;
    }
    .bitcoin {
        width: 200px;
        height: 200px;
    }
    h1{
        font-size: 90px;
        margin-bottom: 20px;

    }
    text{
        font-size: 14px;
    }
}
@media (max-width: 550px) {
    header{
        padding: 20px;
    }
    .container{
        min-height: calc(100vh - 172px);
    }
    h1{
        font-size: 60px;
        margin-bottom: 50px;
    }
    .bitcoin {
        width: 180px;
        height: 180px;
    }
    footer{
        padding: 30px 20px;
    }
    text{
        font-size: 12px;
    }
}
@media (max-width: 380px) {
    .bitcoin {
        width: 150px;
        height: 150px;
    }
}